[user]
	name = Chris Wiegman
	email = chris.wiegman@wpengine.com
	signingkey = ~/.ssh/id_ed25519
[commit]
	gpgsign = true
[pull]
	rebase = false

[url "git@github.com:wpengine/"]
    insteadOf = wpe:

[color]
    ui = true

[init]
	defaultBranch = main
[gpg]
	format = ssh
