[user]
	name = Chris Wiegman
	email = chris.wiegman@fingerprint.com

[gpg]
    format = ssh

[commit]
    gpgsign = true

[tag]
    gpgsign = true

[pull]
    rebase = false
    ff = only

[push]
    default = simple

[color]
    ui = true

[init]
    defaultBranch = main

[merge]
    conflictstyle = zdiff3

[diff]
    colorMoved = zebra

[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"