[user]
	name = Chris Wiegman
	email = chris.wiegman@fingerprint.com

[commit]
	gpgsign = true

[tag]
	gpgsign = true

[pull]
	rebase = false

[color]
    ui = true

[init]
	defaultBranch = main

[gpg]
  format = ssh

[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"